* {
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.dashboard-header h1{
    font-size: 24px;
}

.dashboard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.filter-group-selector{
    font-weight:  bold;
    margin-right: 10px;
}

.filter-group-selector select{
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}

.filter-group-selector select:hover{
    border-color: #3498db;
}

.charts-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.chart-card h2{
    font-size: 16px;
    text-align: center;
}

.chart-card{
    flex: 1 1 45%;
    min-width: 400px;
    background: #ffffff;
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    transition: ease-in-out 0.1s;
}

.chart-card:hover{
  transform: scale(1.1);
}